/* Estilos NavBar */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
}

.navBar{
    background-color: #395B64;
    display: flex;
    justify-content: space-between;
}

.imgBienvenida{
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: 15% 95%;
}

.tituloLogo{
    display: flex;
}

.tituloNavBar{
    align-self: center;
    margin-left: 20px;
    font-weight: 900;
    color: black;
}

.logoTienda{
    width: 70px;
    margin: 20px;
}

.botonesNav{
    display: flex;
    
}

.botonesNav>li{
    list-style-type: none;
    margin: 40px;
    width: 40px;
    height: 30px;
    border: none;
}

.botonNav{
    color: black;
    background-color: grey;
    border-radius: 20px;
    text-decoration: none;
}

.carritoCompras{
    width: 40px;
}

.flex-carrito{
    display: flex;
    gap: 15px;
}

.totalProductos{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.tituloPaginaInicio{
    text-align: center;
    margin: 10px;
}

/* CSS Item Count */

.estiloContador{
    margin-top: 20px;
}

.tamanioEtiqueta{
    width: 100px;
}

.botonContador{
    width: 30px;
    border-style: none;
}

.contadorCantidad{
    width: 150px;
    text-align: center;
}

.botonAnadir{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 220px;
}

/* Tarjetas productos */

.tarjetasProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 75px;
    
}

.cardShadow{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
}

.detalleProducto{
    text-align: center;
}

.detalleProductoFlex{
    display: flex;
    gap: 200px;
}


.detalleProductoFlex_info{
    align-self: center;
    border: solid;
    border-color: grey;
    border-radius: 20px;
    padding: 50px;
}

/* Carrito */

.vistaCarrito{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: #395B64;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.botonEliminar{
    width: 150px;
    height: 60px;
    align-self: center;
    
}

.totalPrecioCompra, .carritoVacio{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.totalPrecioCompra{
    background-color: #6c757d;
    width: 15%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 40px;
    font-weight: 500;
    color: white;
    padding: 10px;
}


.contenedorCarritoVacio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
}

.botonVerProductos{
    margin: 20px;
}

.seccionTerminarCompra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioCompra{
    border: 1px solid;
    border-radius: 5px;
    border-color: #395B64;
    padding: 60px;
    margin-bottom: 55px;
}


.imgTarjeta{
    max-width: 300px;
    max-height: 300px;
}

.imgDetalle{
    width: 600px;
    height: 600px;
    border-radius: 15px;
    margin-left: 35px;
    margin-bottom: 75px;
}

.productoCarrito{
    max-width: 150px;
    max-height: 150px;
    border-radius: 3px;
}

.terminarCompra{
    margin: 10px;
}

.tituloFormulario{
    margin: 50px;
}

.copyright{
    margin-top: 80px;
    padding: 10px;
    color: black;
}

.titulos{
    font-weight: 900;
    font-size: xxx-large;
    margin-bottom: 70px;
}